#card {
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px; /* this scales the entire card*/
  font-weight: bold;
  line-height: 0.9em;

  width: 17.2em;
  height: 11.2em;
  border-radius: 1.1em;

  margin: auto;
  padding: 0.8em;
}

#card h1 { 
  font-size: 1.8em;
  line-height: 1.2em;
  height: 1em;
  margin: 0em;
}

#card h1 #first { color: #ff9900; }

#card h1 #last { color: #648de0; }

#card h1 img {
  height: 1.1em;
  padding: -16.66%; 
  float: right;
}

#card b { font-size: 0.9em; }

#card b span { 
  font-family: Consolas, monaco, monospace;
  font-size:  1.042em;
}

#card img {
  height: 5em;
  float: right;
}

#card_info {
  font-size: 0.6em;
}

#card_info a {
  color: white;
  text-decoration: none; 
}